---
import { Image } from 'astro:assets';
import profile from '../assets/profile.jpg';
---

<div id="container">

	<div style="display: flex; flex-direction: column; align-items: center; gap: 1rem;">
		<Image 
			src={profile} 
			alt="Profile Image" 
			id="profile-image" 
		/>

		<h1 align="center">Hey there, I'm Taha! <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="35" id="profile-title-image"></h1>
	</div>

</div>

<style>
	/* Import Open Sans font */
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

	#container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: #1F1F1F;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Open Sans', sans-serif;
	}

	#profile-image {
		width: 200px;
		height: 200px;
		border-radius: 16%;
		border: 4px solid white;
	}

	h1 {
		color: #FFFFFF;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}

	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 1.5rem;
		display: flex;
		justify-content: center;
		z-index: 1;
	}

	.nav-links {
		width: 100%;
		top: 5rem;
		left: 48px;
		background-color: #ff9776;
		display: none;
		margin: 0;
	}

	.nav-links a {
		display: block;
		text-align: center;
		padding: 10px 0;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.nav-links a:hover,
	.nav-links a:focus {
		background-color: #ff9776;
	}

	.expanded {
		display: unset;
	}

	@media screen and (min-width: 636px) {
		.nav-links {
			margin-left: 5em;
			display: block;
			position: static;
			width: auto;
			background: none;
		}

		.nav-links a {
			display: inline-block;
			padding: 15px 20px;
		}
	}
</style>
